langchain
langchain_community
openai
streamlit
ipykernel
langchain_core
fastapi
uvicorn
langchain-openai
langchain_groq
langserve       
transformers 
sentence-transformers
faiss-cpu       
chromadb        

huggingface_hub  

python-dotenv  
pydantic        
requests

